@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Access denied";
}

@*---This HTML Identity For User Access Denied/Block ---*@

<header class="text-center">
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger ">You do not have access to AJW Management Portal.<br />Kindly..!<br /> Check your Email/Department/Password for Logged In to the AJW Management Portal. .</p>
</header>
