@page
@model LockoutModel
@{
    ViewData["Title"] = "Locked out";
}

@*---This HTML Identity for USer Account Lockout if user user wroung username/Password---*@
<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">This account has been locked out, please try again later.</p>
</header>
