@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_LayoutAccount.cshtml";
}

<div class="text-center bg-dark text-white">
    <h1 class="display-4  text-danger" ><strong>Dear Hamza Bro</strong></h1>
    <p>1:IN 1ST DAILY CONTINUE SHEET >> PAID AMOUNT CPLUMN VALUES >REPLACE< BY iNCLEARED W--WHEN WE SAVE RECORDS</p>
    <p>2:KINDLY DISPLAY REPORTS LIST OF EASY SHEET LIKE DAILY,TRANSACTION,CLOSING,BANK, VOUCHER ETC</p>
    <p>3:KINDLY DISPLAY THE IMAGE WHEN WE CHOOSE SUDDEN DISPLAY NOT USE OTHER BUTTON LIKE UPLOAD OR UPDATE JUST CHOSE AND DISPLAY</p>
    <p>4:HAMZZA BRO,MNY SUB LIST AND EACH SHEET DESIGN BNYA HOWA HY BUS APKO DATA SHOW KRWANA HY...
    YRA MNY TRY KI HY PRR JAB MN APNA TABLE APKY TABLE SAY REPLACE KRTA HN TOO ERROR ATA .MUJY LGTA HY TABLE KA ISSUE A RHA HY</p>
</div>
