/*body {
}

.AccessoryLUBook {
    text-align: right;
    text-align: justify;
    direction: rtl;
}*/


/*page print css----*/
/*.btn-theme {
    background: #08818c;
    color: #fff;
}

.btn {
    font-family: arial;
}

.btn-print {
    padding: 10px 24px;
    font-size: 16px;
    line-height: 1.33;
    vertical-align: middle;
    float: left;
}

.PrintP {
    margin-left: 985px;
    position: absolute;
    margin-top: -45px;
}*/

/*page print css----*/
/*.titleLaw {
    text-align: left;
    font-weight: bold;
}*/