
/*body {
    font-family: 'Jameel Noori Nastaleeq';
}*/

/*body {
    font: 90%/1.45em "Helvetica Neue", HelveticaNeue, Verdana, Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
    background-color: #fff;
}*/
/*//--DGM Layout page css--------start--------*/
/*.mainul {
    font-family: 'Jameel Noori Nastaleeq';
    font-size: large;
    margin-bottom: 120px;
}

.Userprofile {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 30px;
}

.ajwfooter {
    font-size: x-small;
    font-family: 'Jameel Noori Nastaleeq';
}*/
/*//--DGM Layout page css---------ended-------*/
/*//--DGM Office Reports page css-------start---------*/
/*.Createbtn {
    font-family: 'Jameel Noori Nastaleeq';
    font-size: large;
    text-align: right;
}

.actionbtn {
    width: 150px;
    text-align: center;*/
    /*    background-color:slategrey;
*/
/*}*/

/*----Accounts Support Guide--css--Start-------
*/
/*div {
    font-family: 'Jameel Noori Nastaleeq';
    font-size: x-large;
}

.AccountsLUBook {
    text-align: right;
    text-align: justify;
    direction: rtl;
    align-content: center;
}

.Title {
    font-size: xx-large;
    font-family: 'Jameel Noori Nastaleeq';
    text-align: center;
    color: black;*/
    /*    background-color: slategrey;
*/
/*}

.ASGTable {
    text-align: center;
}*/
/*----Accounts Support Guide--css--Start-------*/
/*----Accounts All Daily Accounts Reportss--css--Start-------*/
/*.DmsofficeReport {
    font-family: 'Jameel Noori Nastaleeq';
    font-size: x-large;
}

.titleDmsofficeReport {
    font-family: 'Jameel Noori Nastaleeq';
    font-size: xx-large;
    font-weight: bold;
}

.DmsReport {
    text-align: center;
    background-color: dimgrey;
    color: white;*/
    /**/
/*}

.tabbody {
    text-align: center;
    color: black;
}

.signt {
    position: center;
    align-content: center;
    text-align: center;*/
    /*  margin-left: -120px;*/
/*}

.header {
    overflow: hidden;
    padding: 10px 10px;
    font-size: 40px;
    font-family: 'Jameel Noori Nastaleeq';
    text-align: center;
}



.Subhdr {
    color: white;
    text-align: center;
    background-color: slategrey;
}
.SubH {*/
    /*  color: white;*/
    /*text-align: center;*/
    /*    background-color: slategrey;
*/ /*font-family: 'Jameel Noori Nastaleeq';
    font-size: medium;
}*/
/*----Accounts Support Guide--css--Start-------*/

/*@*----------start-----general ledger report lisst------------------*@

*/

/*table {
    border-collapse: collapse;
    border-spacing: 0;
    border: 1px solid #ddd;
}

th, td {
    text-align: center;
    padding: 8px;
}*/

/*@*----------start-----general ledger report lisst------------------*@
*/
/*@*----------start-----general ledger report lisst------------------*@

*/
/*.Signature {
    text-align: center;
    background-color: slategrey;
    color: white;
    font-size: medium;
}*/

/*@*----------start-----general ledger report lisst------------------*@
*/
/*.BackToList {
    width: 150px;
}

.SheetLogo {
    color: white;
    background-color: slategrey;
}

.SelectSheet {
    box-sizing: border-box;
    height: 80px;
    width: 180px;
}

.Textarea {
    box-sizing: border-box;
    height: 50px;
    width: 130px;
}

.textarea {
    height: 60px;
}

.Signrow {
    text-align: center;
    font-size: x-large;
    font-family: 'Jameel Noori Nastaleeq';
    background-color: slategrey;
    color: white;
}

.TitleExp {
    color: white;
    background-color: slategray;
    font-size: xx-large;
    font-family: 'Jameel Noori Nastaleeq';
    text-align: center;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    border: 1px solid #ddd;
    table-layout: fixed;
    width: 100%
}*/
/*------CSS For SupportGuide DMS*/
/*.DmsLUBook {
    text-align: right;
    text-align: justify;
    direction: rtl;
}


.lang_btn {
    font-family: "ProximaNova";
    color: #fff;
    font-size: 15px;
    text-transform: uppercase;
    text-decoration: none !important;
    background-color: #C82333;
    text-transform: uppercase;
    margin-top: 1.7%;
    text-decoration: none !important;
    width: 65px;
    text-align: center;
    height: 39px;
    border: solid 1px #C82333;
}*/

/* DMS dashboard CSS start
*/
/*.card-box {
    position: relative;
    color: #fff;
    padding: 20px 10px 40px;
    margin: 12px 0px;
}

    .card-box:hover {
        text-decoration: none;
        color: #f1f1f1;
    }

        .card-box:hover .icon i {
            font-size: 100px;
            transition: 1s;
            -webkit-transition: 1s;
        }

    .card-box .inner {
        padding: 5px 10px 0 10px;
    }

    .card-box h3 {
        font-size: 27px;
        font-weight: bold;
        margin: 0 0 8px 0;
        white-space: nowrap;
        padding: 0;
        text-align: left;
    }

    .card-box p {
        font-size: 15px;
        color: white;
        font-weight: bold;
    }

    .card-box .icon {
        position: absolute;
        top: auto;
        bottom: 5px;
        right: 5px;
        z-index: 0;
        font-size: 72px;
        color: rgba(0, 0, 0, 0.15);
    }

    .card-box .card-box-footer {
        position: absolute;
        left: 0px;
        bottom: 0px;
        text-align: center;
        padding: 3px 0;
        color: rgba(255, 255, 255, 0.8);
        background: rgba(0, 0, 0, 0.1);
        width: 100%;
        text-decoration: none;
    }

    .card-box:hover .card-box-footer {
        background: rgba(0, 0, 0, 0.3);
    }

.bg-blue {
    background-color: #00c0ef !important;
}

.bg-green {
    background-color: #00a65a !important;
}

.bg-orange {
    background-color: #f39c12 !important;
}

.bg-red {
    background-color: #d9534f !important;
}*/

/*DMS dashboard CSS ended
*/
/*.smallfontHeading {
    font-size: medium;
}*/

/*Mostly USes Css Classes userprofile/footer/backtolist/table/backtotopbtn/smallheading/subh/print  start*/
/*.Subhdr {
    color: white;
    text-align: center;
    background-color: slategrey;
    align-content: center;
}

.Createbtn {
    font-family: 'Jameel Noori Nastaleeq';
    font-size: large;
    text-align: right;
}

.actionbtn {
    width: 150px;
    text-align: center;*/
    /*    background-color:slategrey;
*/
/*}

.Userprofile {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 30px;
}

.ajwfooter {
    font-size: x-small;
    font-family: 'Jameel Noori Nastaleeq';
}

.BackToList {
    width: 150px;
}

.table {
    border-collapse: collapse;
    border-spacing: 0;
    border: 1px solid #ddd;
    table-layout: fixed;
    width: 100%
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    border: 1px solid #ddd;
}

th, td {
    text-align: center;
    padding: 8px;
}

.SubH {*/
    /*  color: white;*/
    /*text-align: center;*/
    /*    background-color: slategrey;
*/ /*font-family: 'Jameel Noori Nastaleeq';
    font-size: medium;
}

.lang_btn {
    font-family: "ProximaNova";
    color: #fff;
    font-size: 15px;
    text-transform: uppercase;
    text-decoration: none !important;
    background-color: #C82333;
    text-transform: uppercase;
    margin-top: 1.7%;
    text-decoration: none !important;
    width: 65px;
    text-align: center;
    height: 39px;
    border: solid 1px #C82333;
}

.smallfontHeading {
    font-size: medium;
}*/
/*page print css----
*/

/*.btn-theme {
    background: #08818c;
    color: #fff;
}

.btn {
    font-family: arial;
}

.btn-print {
    padding: 10px 24px;
    font-size: 16px;
    line-height: 1.33;
    vertical-align: middle;
    float: left;
}

.PrintP {
    margin-left: 985px;
    position: absolute;
    margin-top: -45px;
}*/

/*page print css----*/

/*Mostly USes Css Classes  ended*/


/* --------------------------------------------------------DMS--------------------------*/
/* CSS form body for each Page'Accounts--Start'*/
/*body {
    font-family: 'Jameel Noori Nastaleeq';
}*/

/*body {
    font: 90%/1.45em "Helvetica Neue", HelveticaNeue, Verdana, Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
    background-color: #fff;
}*/

/*----Accounts All Daily Accounts Reportss--css--Start-------*/
/*.AccountofficeReport {
    font-family: 'Jameel Noori Nastaleeq';
    font-size: x-large;
}

.titleAccountofficeReport {
    font-family: 'Jameel Noori Nastaleeq';
    font-size: xx-large;
    font-weight: bold;
}

.AccountReport {
    text-align: center;
    background-color: dimgrey;
    color: white;
}

.TitleExp {
    color: white;
    background-color: slategray;
    font-size: xx-large;
    font-family: 'Jameel Noori Nastaleeq';
    text-align: center;
}

.thhead {
    height: 45px;
}*/
/* Css for Heading on every where in Accounts----*/
/*.header {
    overflow: hidden;
    padding: 10px 10px;
    font-size: 40px;
    font-family: 'Jameel Noori Nastaleeq';
    text-align: center;
}*/

/* Css for Sheet Logo on Each Sheet Logo in Accounts----*/
/*.SheetLogo {
    color: white;
    background-color: slategrey;
}*/

/* Css for Selector Fields on Each sheets in Accounts----*/
/*.SelectSheet {
    box-sizing: border-box;
    height: 80px;
    width: 180px;
}*/

/* Css for TextArea Filds in Accounts----*/
/*.Textarea {
    box-sizing: border-box;
    height: 50px;
    width: 130px;
}*/

/* Css for TextArea Filds in Accounts----*/
/*.textarea {
    height: 60px;
}*/

/*//--Css for main Ul Tage of Each Page--------start--------*/
/*.mainul {
    font-family: 'Jameel Noori Nastaleeq';
    font-size: large;
    margin-bottom: 120px;
}*/

/*//--CSS For Create button & Action Button of Each Page------start---------*/
/*.Createbtn {
    font-family: 'Jameel Noori Nastaleeq';
    font-size: large;
    text-align: right;
}

.actionbtn {
    width: 150px;
    text-align: center;
}*/

/*----CSS For Accounts Support Guide--LAW Book/User Guide--Start-------*/
/*div {
    font-family: 'Jameel Noori Nastaleeq';
    font-size: x-large;
}*/

/* Css for Table Body on each page in Accounts----*/
/*.tabbody {
    text-align: center;
    color: black;
}*/

/*  Css for Signature Title on Each Sheet In Accounts----*/
/*.Signrow {
    text-align: center;
    font-size: x-large;
    font-family: 'Jameel Noori Nastaleeq';
    background-color: slategrey;
    color: white;
}*/

/* Css for Signature authority on each sheets in Accounts----*/
/*.Signature {
    text-align: center;
    background-color: slategrey;
    color: white;
    font-size: medium;
}*/

/*  Css for Signature text fields on Each Sheet In Accounts----*/
/*.signt {
    position: center;
    align-content: center;
    text-align: center;*/
    /*  margin-left: -120px;*/
/*}*/

/*Mostly USes Css Classes userprofile/footer/backtolist/table/backtotopbtn/smallheading/subh/print --for Accounts Department- start*/
/*.Title {
    font-size: xx-large;
    font-family: 'Jameel Noori Nastaleeq';
    text-align: center;
    color: black;
}*/

/*  Css for Sub Heading of table----*/
/*.Subhdr {
    color: white;
    text-align: center;
    background-color: slategrey;
}*/

/*  Css for small Size of Content----*/
/*.SubH {
    text-align: center;
    font-family: 'Jameel Noori Nastaleeq';
    font-size: medium;
}*/

/*  Css for User Profile Accounts Layout----*/
/*.Userprofile {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 30px;
}*/

/*  Css for footer Accounts Layout----*/
/*.ajwfooter {
    font-size: x-small;
    font-family: 'Jameel Noori Nastaleeq';
}*/

/*  Css for BackToList Button----*/
/*.BackToList {
    width: 150px;
}*/

/*  Css for Table of Each in Accounts----*/
/*.table {
    border-collapse: collapse;
    border-spacing: 0;
    border: 1px solid #ddd;
    table-layout: fixed;
    width: 100%
}*/
/*  Css for Table of each in Accounts----*/
/*table {
    border-collapse: collapse;
    border-spacing: 0;
    border: 1px solid #ddd;
}*/
/*  Css for TH/TD of Each Table in Accounts----*/
/*th, td {
    text-align: center;
    padding: 8px;
}*/

/*  Css for Back To Top Button in Accounts----*/
/*.lang_btn {
    font-family: "ProximaNova";
    color: #fff;
    font-size: 15px;
    text-transform: uppercase;
    text-decoration: none !important;
    background-color: #C82333;
    text-transform: uppercase;
    margin-top: 1.7%;
    text-decoration: none !important;
    width: 65px;
    text-align: center;
    height: 39px;
    border: solid 1px #C82333;
}*/

/*  Css for Small Content Of Accounts----*/
/*.smallfontHeading {
    font-size: medium;
}*/

/*page print css----*/
/*.btn-theme {
    background: #08818c;
    color: #fff;
}

.btn {
    font-family: arial;
}

.btn-print {
    padding: 10px 24px;
    font-size: 16px;
    line-height: 1.33;
    vertical-align: middle;
    float: left;
}

.PrintP {
    margin-left: 985px;
    position: absolute;
    margin-top: -45px;
}*/

/*page print css----*/


/*Mostly Uses Css Classes for Accounts Department ---------------------------------------------------ended*/


/*-----csss for Back To Top*/
/*#button {
    display: inline-block;
    background-color: #FF9800;
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 4px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    transition: background-color .3s, opacity .5s, visibility .5s;
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
}

    #button::after {
        content: "\f077";
        font-family: FontAwesome;
        font-weight: normal;
        font-style: normal;
        font-size: 1em;
        line-height: 50px;
        color: #fff;
    }

    #button:hover {
        cursor: pointer;
        background-color: #333;
    }

    #button:active {
        background-color: #555;
    }

    #button.show {
        opacity: 1;
        visibility: visible;
    }

#button {
    margin: 30px;
}*/


