<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MTJ_Product</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />


    <link rel="alternate" type="application/rss+xml" title="RSS 2.0" href="http://www.datatables.net/rss.xml">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.min.css">
    <script type="text/javascript" language="javascript" src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
    
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">MTJ_Product</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item dropdown text-white-50">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropDownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                ڈیلی رپورٹ لسٹ
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropDownMenuLink">
                                <a class="dropdown-item" asp-action="DailyContinueReportList" asp-controller="aDailyCashes" asp-area="">ڈیلی جاری رپورٹ لسٹ </a>
                                <a class="dropdown-item" asp-action="DailyTransactionReportList" asp-controller="aDailyCashes" asp-area="">ڈیلی ٹرانزیکشن رپورٹ لسٹ</a>
                                <a class="dropdown-item" asp-action="MeezanbankReportList" asp-controller="Meezan" asp-area=""> میزان بینک انکم/ےخرچ رپورٹ لسٹ</a>
                                <a class="dropdown-item" asp-action="DailyCashClosingReportList" asp-controller="aDailyCashes" asp-area="">ڈیلی کش کلوزنگ رپورٹ لسٹ</a>
                                <a class="dropdown-item" asp-action="IndexMeezanVoucher" asp-controller="Meezan" asp-area="">میزان بینک ڈیلی کلوزنگ واؤچر لسٹ</a>
                                <a class="dropdown-item" asp-action="DailyCashClosingVoucherList" asp-controller="aDailyCashes" asp-area="">ڈیلی کلوزنگ واؤچر لسٹ</a>
                                @*<a class="dropdown-item" asp-action="DailySupplierReportList" asp-controller="aDailyCashes" asp-area="">ڈیلی سپلائر ٹرانزیکشن رپورٹ</a>*@

                            </div>

                        </li>
                        <li class="nav-item dropdown text-white-50">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropDownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                ڈیلی رپورٹس
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropDownMenuLink">
                                <a class="dropdown-item" asp-action="Index" asp-controller="aDailyCashes" asp-area="">ڈیلی جاری رپورٹ </a>
                                <a class="dropdown-item" asp-action="transSheet" asp-controller="aDailyCashes" asp-area="">ڈیلی ٹرانزیکشن رپورٹ</a>
                                <a class="dropdown-item" asp-action="Index" asp-controller="Meezan" asp-area="">میزان بینک انکم/ےخرچ رپورٹ</a>
                                <a class="dropdown-item" asp-action="BankIndex" asp-controller="aDailyCashes" asp-area="">ڈیلی کش کلوزنگ رپورٹ</a>
                                <a class="dropdown-item" asp-action="CreateMeezanVoucher" asp-controller="Meezan" asp-area="">میزان بینک ڈیلی کلوزنگ واؤچر</a>
                                <a class="dropdown-item" asp-action="closingVoucher" asp-controller="aDailyCashes" asp-area="">ڈیلی کلوزنگ واؤچر</a>
                                @*<a class="dropdown-item" asp-action="DailySupplierReport" asp-controller="aDailyCashes" asp-area="">ڈیلی سپلائر ٹرانزیکشن رپورٹ</a>*@

                            </div>

                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark btn btn-info" asp-area="" asp-controller="aDailyCashes" asp-action="Index" role="button">Daily Reports </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - MTJ_Product - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
