@*@model Employee*@
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer Localizer

@model IEnumerable<AJWNoticeBoardHrm>

@{
    ViewData["Title"] = "NoticePopup";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body>



    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="modal" id="myModal" tabindex="-1">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                @*<h4 class="modal-title" id="addEmployeeLabel">Add Employee</h4>*@
                                <button type="button" class="close" data-dismiss="modal">
                                    <span>X</span>
                                </button>
                            </div>

                            <div class="modal-body">
                                <form>
                                    <div style="margin-top:5px;" class="table col-sm-12">
                                        <table class="table table-striped" title="اے جے ڈبلیو نوٹس بورڈ">
                                            <thead>
                                                <tr>
                                                    <th style="font-size:25px" class="text-in text-center"> @Localizer["AJW NOTICE BOARD"]</th>
                                                </tr>
                                            </thead>
                                            <tbody style="font-size:25px;">
                                                <tr style="text-align:justify;">
                                                    <td>
                                                        <marquee height="400" behavior="scroll" direction="up" onmouseover="this.stop();" onmouseout="this.start();">
                                                            @{
                                                                foreach (AJWNoticeBoardHrm b in ViewBag.Home)
                                                                {
                                                                    <hr />
                                                                    <div>
                                                                        <h2 style="color:orange" class="text-center"> @b.Title  &nbsp;<img src="~/Image/blinknew.gif" /></h2>
                                                                        <hr />
                                                                        <p class="text-center" style="color:orange"> @b.Date  </p>
                                                                    </div>

                                                                    <hr />
                                                                    <p>تفصیل:@b.Description</p>

                                                                }
                                                            }
                                                        </marquee>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>

                                </form>
                            </div>

                            @*<div class="modal-footer">
                                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-primary" data-dismiss="modal">Save</button>
                            </div>*@
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

@section Scripts{
    <script src="js/jquery-3.5.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script>
        $(document).ready(function () {
            $("#myModal").modal('show');
        });
    </script>
}


