
@{
    ViewData["Title"] = "MeezanbankIEReport";
    Layout = "~/Views/Shared/_LayoutAccount.cshtml";
}


<!DOCTYPE html>

<html>
<head>
    <style>
        #customers {
            font-family: Arial, Helvetica, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

            #customers td, #customers th {
                border: 1px solid #ddd;
                padding: 8px;
            }

            #customers tr:nth-child(even) {
                background-color: #f2f2f2;
            }

            #customers tr:hover {
                background-color: #ddd;
            }

            #customers th {
                padding-top: 12px;
                padding-bottom: 12px;
                text-align: left;
                background-color: #4CAF50;
                color: white;
            }

        .tabled {
            position: center;
            align-content: center;
            text-align: center;
            /*margin-left: -200px;*/
        }

        .signt {
            position: center;
            align-content: center;
            text-align: center;
            /*  margin-left: -120px;*/
        }
    </style>
    <meta name="viewport" content="width=device-width" />
    <title>Transaction Sheet</title>
</head>
<body>






    @*btn link*@

    <div class="btn-group btn-group-lg text-white">
        <button type="button" class="btn btn-dark"><a asp-action="Create"> Create New</a></button>
        <button type="button" class="btn btn-dark"><a asp-action="IndexByName">(1)Daily Continous Sheet </a></button>
        <button type="button" class="btn btn-dark"> <a asp-action="tranSheet">(2)Transaction Sheet </a></button>
        <button type="button" class="btn btn-dark"> <a asp-action="MeezanbankIEReport" asp-route-id="">(3)Meezan-bank-IE-Report </a></button>
        <button type="button" class="btn btn-dark"><a asp-action="BnkIndex">(4)Bank Sheet </a> </button>
        <button type="button" class="btn btn-dark"><a asp-action="MeezanbankIEReportVoucher" asp-route-id="">(5)Meezan-bank-IE-Report Voucher </a></button>
        <button type="button" class="btn btn-dark"><a asp-action="DailySupplierReport" asp-route-id="">(6)Daily Supplier Report </a></button>
        <button type="button" class="btn btn-dark"><a asp-action="closngVoucher">(7)Closing Voucher </a></button>
        <button type="button" class="btn btn-success"> <a asp-action="sheetList">Sheet List </a></button>
    </div>
    @*btn link*@
    @*main table*@
    <table class="tabled table table-bordered">
        <thead>
            <tr>
                <th class="bg-dark text-white" scope="col" colspan="10"><img src="~/Image/white.png" alt="Image" width="100" height="100" /><br />اے جے ڈبلیو ایگرو انڈسٹری</th>

            </tr>
            <tr>
                <th class="bg-dark text-white" scope="col" colspan="10">ڈیلی میزان بینک انکم/خرچ رپورٹ اکاؤنٹ آفس</th>

            </tr>
        </thead>
        <tbody>
            <tr>
                <th class="text-left" colspan="10" scope="col"> <input type="datetime-local" id="birthdaytime" name="birthdaytime">  : تاریخ </th>

            </tr>
            <tr>

                <th class="text-center bg-dark text-white" colspan="2" scope="col">CRUD آپریشن</th>
                <th class="text-center bg-dark text-white" scope="col">بیلنس</th>
                <th class="text-center bg-dark text-white" scope="col">کریڈٹ</th>
                <th class="text-center bg-dark text-white" scope="col">ڈیبٹ</th>

                <th class="text-center bg-dark text-white" scope="col">آن لائن_O<br>ڈپازٹ سلپ_D  <br>چیک نمبر_C</th>

                @*<th class="text-center bg-dark text-white" scope="col">تاریخ</th>*@
                <th class="text-center bg-dark text-white" scope="col" colspan="3">تفصیل</th>

                <th class="text-center bg-dark text-white" scope="col">نمبر شمار</th>

            </tr>

            <tr>
                <th scope="row" colspan="2">CRUD Button</th>
                <th scope="row"><input type="text" class="form-control" /></th>
                <th scope="row"><input type="text" class="form-control" /></th>
                <th scope="row"><input type="text" class="form-control" /></th>
                <th scope="row"><input type="text" class="form-control" /></th>
                @*<th scope="row"></th>*@



                <th scope="row" colspan="3"><textarea type="text" class="form-control" style="width:250px"></textarea></th>
                <th scope="row"><button class="btn btn-success">Add Row</button></th>


            </tr>

            <tr>
                <th scope="row" colspan="2">CRUD Button</th>
                <th scope="row"><input type="text" class="form-control" /></th>
                <th scope="row"><input type="text" class="form-control" /></th>
                <th scope="row"><input type="text" class="form-control" /></th>
                <th scope="row"><input type="text" class="form-control" /></th>
                @*<th scope="row"></th>*@



                <th scope="row" colspan="3"><textarea type="text" class="form-control" style="width:250px"></textarea></th>
                <th scope="row"><button class="btn btn-success">Add Row</button></th>


            </tr>
            <tr class="bg-info text-white">
                <th scope="row">CRUD Button</th>
                <th scope="row">33333</th>
                <th scope="row">33333</th>
                <th scope="row">3333</th>
                <th scope="row">3333</th>


                <th colspan="5" scope="row">ٹوٹل</th>
                @*<th scope="row"></th>*@


            </tr>
            <tr>
                <th class="bg-dark text-white" scope="col" colspan="10"></th>

            </tr>
            <tr>

                <th colspan="2" rowspan="5" scope="row"></th>
                <th colspan="3" scope="row">119000</th>
                <th colspan="3" scope="row">اوپننگ بیلنس</th>
                <th colspan="2" rowspan="5" scope="row"></th>

            </tr>
            <tr>

                @*<th colspan="2" scope="row"></th>*@
                <th colspan="3" scope="row">119000</th>
                <th colspan="3" scope="row"> آج کی ٹوٹل آمدن</th>
                @*<th colspan="2" scope="row"></th>*@

            </tr>
            <tr>

                @*<th colspan="2" scope="row"></th>*@
                <th colspan="3" scope="row">119000</th>
                <th colspan="3" scope="row">آج کا ٹوٹل خرچ</th>
                @*<th colspan="2" scope="row"></th>*@

            </tr>
            <tr>

                @*<th colspan="2" scope="row"></th>*@
                <th colspan="3" scope="row">00</th>
                <th colspan="3" scope="row">انکم ٹیکس کٹوتی</th>
                @*<th colspan="2" scope="row"></th>*@

            </tr>
            <tr>

                @*<th colspan="2" scope="row"></th>*@
                <th colspan="3" scope="row">119000</th>
                <th colspan="3" scope="row">کلوزنگ بیلنس</th>
                @*<th colspan="2" scope="row"></th>*@

            </tr>
        </tbody>
    </table>
    @*main table*@
   
    @*sign*@
    <form class="signt">
        @*sign*@
        <table class="table table-bordered table-dark">
            <thead>
                <tr>
                    <th colspan="4" class="text-center" scope="col">دستخط</th>

                </tr>
            </thead>
            <tbody>
                <tr class="text-center">
                    <th scope="row">Account Manager</th>
                    @*<th>C.E.O</th>*@
                    <th>G.M</th>
                    <th>D.G.M</th>
                </tr>
                <tr class="text-center align-content-center">
                    <td>
                        <input type="file" id="myFile" name="filename"><br />
                        <img src="~/Image/sign.png" class="img-rounded" alt="Cinque Terre" width="304" height="136">
                    </td>
                    @*<td class="tg-0lax">
                            <input type="file" id="myFile" name="filename"><br />
                            <img src="~/Image/yok.jpg" class="img-rounded" alt="Cinque Terre" width="304" height="136">
                        </td>*@
                    <td class="tg-0lax">
                        <input type="file" id="myFile" name="filename"><br />
                        <img src="~/Image/sign.png" class="img-rounded" alt="Cinque Terre" width="304" height="136">
                    </td>
                    <td class="tg-0lax">
                        <input type="file" id="myFile" name="filename"><br />
                        <img src="~/Image/sign.png" class="img-rounded" alt="Cinque Terre" width="304" height="136">
                    </td>
                </tr>

            </tbody>
        </table>
    </form>
    @*sign*@

    @section Scripts{
        <script>

        </script>
    }
</body>
</html>
