
<div class="row">
    <div class="col-6">
        <input type="submit" class="btn btn-info form-control" value="DailyPlanInAccount" />
    </div>
    <div class="col-6">
        <a asp-action="DailyPlanInListAccount" class="btn btn-success form-control">Back to List</a>
    </div>
</div>