<div class="row">
    <div class="col-2">
        <input type="submit" class="btn btn-info form-control" value="Create" />
    </div>
    <div class="col-2">
        <a asp-action="Index" class="btn btn-success form-control">Back to Ledger List</a>
    </div>
    @*<div class="col-2">
            <a asp-action="Index" asp-controller="Home" asp-area="Home" class="btn btn-warning form-control">Poost</a>
        </div>
        <div class="col-2">
            <a asp-action="Index" class="btn btn-success form-control">Download</a>
        </div>

        <div class="col-2">
            <a asp-action="Index" class="btn btn-success form-control">Print</a>
        </div>
        <div class="col-1">
            <a asp-action="Index" class="btn btn-success form-control">Upload</a>
        </div>
        <div class="col-1">
            <a asp-action="Index" class="btn btn-success form-control">Clear</a>

        </div>*@
</div>
