@*----------Header Code for this Page--------------------------------Start-------------------Header------------------*@
@*---Language Tranlator--Localizer*@
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer Localizer

@model AJWManagementPortal.Models.Item
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_LayoutStore.cshtml";
}

@*----------Header Code for this Page--------------------------------Ended-------------------Header------------------*@

@*----------Body Code for this Page----------------------------------Start---------------------Body----------------*@
@*This HTML for ::SubLedger Detail/List=view for account office::*@

<br />
<h2 class="text-info">Item Details</h2>
<br />
<div class="backgroundWhite rounded">
    <fieldset disabled>
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="ItemName" class="custom-label"></label>
            </div>
            <div class="col-5">
                <input asp-for="ItemName" class="form-control" />
            </div>
        </div>
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="Category.CategoryName" class="custom-label"></label>
            </div>
            <div class="col-5">
                <input asp-for="Category.CategoryName" class="form-control" />
            </div>
        </div>
    </fieldset>
    <br />
    <div class="form-group row">
        <div class="col-5 offset-2">
            <partial name="_DetailsAndBackToListButtonSubLedger" model="Model.Id" />
        </div>
    </div>
</div>



@*----------Body Code for this Page----------------------------------Ended---------------------Body----------------*@

@*----------JS for this Page-----------------------------------------Start---------------------JS----------------*@
@section Scripts{
    <script>
    </script>
}
@*----------JS for this Page-----------------------------------------Ended----------------------JS---------------*@

@*----------CSS for this Page----------------------------------------Start----------------------CSS---------------*@
<style>
</style>
@*----------CSS for this Page----------------------------------------Ended-----------------------CSS--------------*@

